/* src/app/globals.css */
@import "tailwindcss";

/* Dark theme global */
body {
  /* tema gelap permanen */
  background-color: #0a0a0a;
  color: #f5f5f5;
  color-scheme: dark;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fade-in-up 0.6s ease forwards;
}

/* contoh glass util */
.glass {
  border: 1px solid rgb(255 255 255 / 0.1);
  background: rgb(255 255 255 / 0.1);
  box-shadow: 0 10px 25px rgb(0 0 0 / 0.25);
}
